.popup {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;

   display: flex;
   justify-content: center;
   align-items: center;
}

.popup-inner {
   background-color: rgb(61, 66, 75);

   border-radius: 8px;
   position: relative;
   padding: 16px;
   width: 100%;
   max-width: 640px;
}

.popup-inner .close-btn {
   background-color: #00000000;
   border: none;
   font: inherit;

   position: absolute;
   top: 16px;
   right: 16px;
}

.popup-inner .close-btn:hover {
   color: white;
   cursor: pointer;
}

.popup-content {
   margin-top: 10px;
}